.bundle
.env
.env.*
docker-compose.*
docker/Dockerfile
docker/dockerfiles
log
storage
public/system
tmp
.codeclimate.yml
public/packs
node_modules
vendor/bundle
.worktrees/
.DS_Store
*.swp
*~
chatwitdocs/chatwoot-mobile-app/
compose-*.yaml
compose-*.yml
fork-witdev-4.4-modificacoes/
